<%- include('header') -%>

<!--== Bắt đầu Khu vực Tiêu đề Trang ==-->
<div class="page-header-wrap bg-img">
    <div class="container" style="background: linear-gradient(to right, #4ab5b5, #ff69b4); border-radius: 20px;">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>Giới thiệu</h1>

                        <ul class="breadcrumb">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li class="current"><a href="#">Giới thiệu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Kết thúc Khu vực Tiêu đề Trang ==-->

<!--== Bắt đầu Wrapper Nội dung Trang ==-->
<div class="page-content-wrapper sm-top">
    <div class="about-page-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-1 order-md-0">
                    <div class="about-content">
                        <h2 class="h3 mb-sm-20">Về Pandashop</h2>
                        <p>Pandashop chuyên về nhiều loại giày thể thao, chủ yếu phục vụ những người đam mê các môn thể
                            thao và lối sống năng động.</p>
                        <p>Phạm vi sản phẩm của chúng tôi bao gồm các thành phần và phụ kiện thiết yếu nâng cao hiệu
                            suất và sự thoải mái cho các vận động viên.</p>
                        <p>Cho dù bạn là một người chạy bộ tìm kiếm sự hỗ trợ tối ưu hay một cầu thủ bóng rổ muốn có sự
                            linh hoạt trên sân, Pandashop cung cấp giày cao cấp được thiết kế để đáp ứng nhu cầu cụ thể
                            của bạn.</p>
                        <p>Bộ sưu tập của chúng tôi không chỉ tập trung vào chức năng mà còn kết hợp các yếu tố phong
                            cách, đảm bảo bạn trông và cảm thấy tốt nhất trong mọi nỗ lực thể thao.</p>
                    </div>
                </div>

                <div class="col-lg-6 order-0">
                    <div class="about-thumb mb-sm-30">
                        <img src="/assets/img/logo.png" alt=" Giới thiệu" />
                    </div>
                </div>
            </div>

            <div class="row align-items-center sm-top">
                <div class="col-lg-6">
                    <div class="about-thumb video-play mb-sm-30">
                        <img src="/assets/img/bg/bg-car.png " alt="Giới thiệu" />

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content">
                        <h2 class="h3">Sứ mệnh của chúng tôi</h2>
                        <p>Tại Pandashop, sứ mệnh của chúng tôi là cung cấp một bộ sưu tập toàn diện về giày thể thao và
                            quần áo chất lượng cao, đáp ứng nhu cầu đa dạng của các vận động viên và những người đam mê
                            thể dục.</p>
                        <p>Tương tự như cách các bộ phận ô tô là thành phần quan trọng của xe cộ, sản phẩm của chúng tôi
                            được chế tạo tỉ mỉ để nâng cao hiệu suất và sự thoải mái trong các hoạt động thể thao khác
                            nhau.</p>
                        <p>Cho dù bạn đang chuẩn bị cho một cuộc marathon, tập luyện cho một trận đấu, hay đơn giản là
                            theo đuổi một lối sống năng động, Pandashop cung cấp một loạt giày và phụ kiện sáng tạo được
                            thiết kế để tối ưu hóa trải nghiệm thể thao của bạn.</p>
                        <p>Chúng tôi hiểu tầm quan trọng của chức năng và phong cách, đảm bảo rằng mỗi sản phẩm không
                            chỉ đáp ứng mà còn vượt quá mong đợi của khách hàng khó tính của chúng tôi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>

<%- include('footer') -%>
<!--== Kết thúc Wrapper Nội dung Trang ==-->