<!--== Bắt đầu Khu vực Wrapper Logo Thương hiệu ==-->
<div class="brand-logo-area sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="brand-logo-content d-flex" style="justify-content: space-between;">
                    <div class="brand-logo-item">
                        <a href="/shop"><img src="/assets/img/brand-logo/brand-1.png" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="/shop"><img src="/assets/img/brand-logo/brand-2.png" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="/shop"><img src="/assets/img/brand-logo/brand-3.png" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="/shop"><img src="/assets/img/brand-logo/brand-4.png" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="/shop"><img src="/assets/img/brand-logo/brand-5.png" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="/shop"><img src="/assets/img/brand-logo/brand-3.png" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="/shop"><img src="/assets/img/brand-logo/brand-1.png" alt="Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Bắt đầu Khu vực Footer ==-->
<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-wide">
            <div class="row mtn-40">
                <div class="col-lg-3">
                    <div class="widget-item">
                        <div class="about-widget">
                            <a href="/"><img src="/assets/img/logo-light.png" alt="Logo" /></a>
                            <p>PandaShop là người bán giày uy tín số một, chúng tôi luôn mang đến cho bạn những sản phẩm
                                và dịch vụ tốt nhất</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Thông tin</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Công ty chúng tôi</a></li>
                                <li><a href="#">Liên hệ chúng tôi</a></li>
                                <li><a href="#">Dịch vụ của chúng tôi</a></li>
                                <li><a href="#">Tại sao chọn chúng tôi?</a></li>
                                <li><a href="#">Cơ hội nghề nghiệp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Liên kết nhanh</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Cửa hàng</a></li>
                                <li><a href="#">Giỏ hàng</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Hỗ trợ</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Chính sách hoàn trả</a></li>
                                <li><a href="#">Hỗ trợ trực tuyến</a></li>
                                <li><a href="#">Hoàn tiền</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget-item">
                        <h4 class="widget-title">Thông tin cửa hàng</h4>
                        <div class="widget-body">
                            <address>
                                2005 Stokes Isle Apartment. 896, Washington 10010, USA <br>
                                https://example.com <br>
                                (+68) 120034509
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright-content">
                        <p>
                            &copy; PandaShop,
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            .
                            Được tạo với <i class="fa fa-heart text-danger"></i> bởi
                            <a href="http://hasthemes.com/" target="_blank">NGUYEN TINH </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--== Kết thúc Khu vực Footer ==-->

<!-- Nút Cuộn lên đầu trang -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>


<!--== Bắt đầu Wrapper Menu Responsive ==-->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Bắt đầu Nội dung Off Canvas -->
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="logo">
                    <a href="/"><img src="/assets/img/logo.png" alt="Logo"></a>
                </div>
                <div class="close-btn">
                    <button class="btn-close"><i class="ion-android-close"></i></button>
                </div>
            </div>

            <!-- Nội dung tự động tạo từ Menu Chính -->
            <div class="res-mobile-menu mobile-menu">

            </div>
        </div>
    </div>
</aside>

</script>

<!--== Kết thúc Wrapper Menu Responsive ==-->
<!--=======================Javascript============================-->
<!-- build:js /assets/js/app.min.js -->

<!--=== Modernizr Min Js ===-->
<script src="/assets/js/modernizr-3.6.0.min.js"></script>
<!--=== jQuery Min Js ===-->
<!--=== jQuery Migration Min Js ===-->
<script src="/assets/js/jquery-migrate.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/assets/js/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/assets/js/bootstrap.min.js"></script>
<!--=== Slicknav Min Js ===-->
<script src="/assets/js/jquery.slicknav.min.js"></script>
<!--=== Magnific Popup Min Js ===-->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!--=== Slick Slider Min Js ===-->
<script src="/assets/js/slick.min.js"></script>
<!--=== Nice Select Min Js ===-->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<!--=== Leaflet Min Js ===-->
<script src="/assets/js/leaflet.min.js"></script>
<!--=== Countdown Js ===-->
<script src="/assets/js/countdown.js"></script>

<!--=== Active Js ===-->
<script src="/assets/js/active.js"></script>
<!-- endbuild -->

</body>

</html>