<%- include('header') -%>
<div class="page-content-wrapper sp-y">
    <div class="login-page-content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 ml-auto mr-auto">
                    <div class="register-form-style">
                        <div class="container"
                            style=" background: linear-gradient(to right, #4ab5b5, #ff69b4); border-radius: 20px;">
                            <div class="row justify-content-center">
                                <div class="col-md-12 p-5">
                                    <div class="card shadow-lg mt-5 p-5">
                                        <div class="card-body p-5">
                                            <form id="registrationForm" method="post">
                                                <h5>Quên mật khẩu
                                                </h5>
                                                <label for="">Nhập email đang ký</label>
                                                <input type="email" name="email_account" placeholder="email">
                                                <button type="submit" class="btn"
                                                    style="width: 100%; background: linear-gradient(to right, rgb(77, 77, 177), #ff69b4);">
                                                    Xác nhận
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>