<%- include('header') -%>

<!--== Bắt đầu Khu vực Tiêu đề Trang ==-->
<div class="page-header-wrap bg-img" data-bg="/assets/img/bg/page-header-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>Thư viện ảnh</h1>

                        <ul class="breadcrumb">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li class="current"><a href="#">Thư viện ảnh</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Kết thúc Khu vực Tiêu đề Trang ==-->

<!--== Bắt đầu Wrapper Nội dung Trang ==-->
<div class="page-content-wrapper sp-y">
    <div class="gallery-page-content">
        <div class="container container-wide">
            <div class="row mtn-30 image-gallery">
                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (1).png">
                        <img src="/assets/img/product/product (1).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (2).png">
                        <img src="/assets/img/product/product (2).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (3).png">
                        <img src="/assets/img/product/product (3).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (4).png">
                        <img src="/assets/img/product/product (4).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (5).png">
                        <img src="/assets/img/product/product (5).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (6).png">
                        <img src="/assets/img/product/product (6).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (7).png">
                        <img src="/assets/img/product/product (7).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (8).png">
                        <img src="/assets/img/product/product (8).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (9).png">
                        <img src="/assets/img/product/product (9).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (10).png">
                        <img src="/assets/img/product/product (10).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (11).png">
                        <img src="/assets/img/product/product (11).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" data-mfp-src="/assets/img/product/product (12).png">
                        <img src="/assets/img/product/product (12).png" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3>PandaShop</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Kết thúc Wrapper Nội dung Trang ==-->
<%- include('footer') -%>